[user]
	email = coanor@gmail.com
	name = coanor
[core]
	editor = vim

[alias]
    ci = "commit"
    co = "checkout"
    br = "branch"
    st = "status"
    lg = "log --oneline --decorate --graph --all"
